.about{
    padding: 10vw 20vw 8.8vw 20vw;
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 1;
}

.about>p{
    text-align: justify;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-shadow: 0px 0px 3px #fff;
    background-color: #323232;
    border-width: 1rem;
    border-color: #323232;
    border-style: solid;
    border-radius: 0.5rem;
    line-height: 1.5;
}